* {
  all: unset; //Unsets everything so you can style everything from scratch
	font-family: feather;
	//font-family: Inter Nerd Font;
	font-family:Space Mono;
	
}

.dockbox {
	background-color: rgba(0,0,0,0);
	border-radius: 12px;
}

//Global Styles
.bar {
  background-color: #181818;
  color: #dbdee9;
}

.time {
	color: #d08770;
}

// Styles on classes (see eww.yuck for more information)
.music {
	font-family: SpaceMono Nerd Font;
	font-size: 11px;
}

.album_art {
	background-repeat: no-repeat;
	background-size: 300px;
	min-height: 300px;
	min-width: 300px;
	border-radius: 8px;
	margin: 0px 0px  0px 0px;
}


.musicbox {
	margin : 0px 0px 0px 0px;
}

.song {
	font-size : 14px;
	font-weight : bold;
}

.artist {
	font-size : 12px;
	font-weight : bold;
}

.musicbuttons {
	margin : -200px 0px 0px 0px;
}

.playbutton {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 0px 0px  0px 0px;
}


.trackbutton {
    background-repeat: no-repeat;
	background-size: 18px;
	min-height: 18px;
	min-width: 18px;
	margin: 0px 0px  0px 0px;
}

.sidestuff {
	font-size: 14px;
}

.sidestuff slider {
  all: unset;
  color: #c04639;
	margin: 10px 0px 7px 0px;
}


.battery_metric {
	font-size: 14px;
	margin-left:0px;
}

.battery_metric slider {
  all: unset;
  color: #c04639;
	margin: 10px 0px 7px 0px;
	min-width: 120px;
}


.audiostuff {
	font-size: 14px;
}

.audiostuff slider {
  all: unset;
  color: #c04639;
	margin: 10px 0px 7px 0px;
	min-width: 90px;
}


.works {
	font-size: 16px;
	padding: 0px;
	background-color: rgba(00,00,00,00);
	margin: 6px 0px 6px 0px;
}


.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: 0px 0px 0px 0px;
}

/* Unoccupied */
.0 {
color: #606060;
}

/* Occupied */
.01, .02, .03, .04, .05, .06, .07, .08, .09 {
	background-color:#242424;
	color:#656565;
}


/* Focused */
.011, .022, .033, .044, .055, .066, .077, .088, .099{
  color: #181818;
	background-color: #e5d0b3;
}


.works button:hover {
  color: #000000;
  background-color: #c04639;
}

.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 10px;
}

.metric scale trough highlight {
  all: unset;
  //background-color: #D35D6E;
  background-color: #e5d0b3;
  color: #000000;
  border-radius: 4px;
}
.metric scale trough {
  all: unset;
  //background-color: #323232;
  background-color: #e5d0b3;
  border-radius: 50px;
  min-height: 3px;
  min-width: 30px;
  margin-left: 8px;
  margin-right: 30px;
}
.metric scale trough highlight {
  all: unset;
  //background-color: #D35D6E;
	background-color: #e5d0b3;
  color: #000000;
  border-radius: 4px;
}
.metric scale trough {
  all: unset;
  //background-color: #4e4e4e;
  background-color: #4e4e4e;
  border-radius: 3px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 2px;
  margin-right: 18px;
}
.label-ram {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 18px;
}

.label-Audio {
  font-size: 20px;
}

.mails {
	color: #FFC8C8;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
	font-weight : bold;
}

.trayicon {
    background-repeat: no-repeat;
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 8px 0px 0px 0px;
}

.infotext {
	color: #DCD7CD;
	border: 0px solid #161616;
	border-radius: 16px;
	font-size : 14px;
	padding: 0px 5px 0px 5px;
	margin: 10px 0px 10px 0px;
}

.face {
	background-size: 24px;
	min-height: 24px;
	min-width: 24px;
	margin: 8px 0px 8px 0px;
	border-radius: 100%;
}

