* {
  all: unset; //Unsets everything so you can style everything from scratch
	font-family: feather;
	//font-family: Inter Nerd Font;
	font-family: CartographCF Nerd Font;
}

//Global Styles
.bar {
  background-color: #181818;
  color: #dbdee9;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
	font-size: 14px;
}

.sidestuff slider {
  all: unset;
  color: #a3be8c;
	margin: 10px 0px 7px 0px;
}


.batterystuff {
	font-size: 14px;
	margin-left:0px;
}

.batterystuff slider {
  all: unset;
  color: #a3be8c;
	margin: 10px 0px 7px 0px;
	min-width: 120px;
}


.audiostuff {
	font-size: 14px;
}

.audiostuff slider {
  all: unset;
  color: #a3be8c;
	margin: 10px 0px 7px 0px;
	min-width: 90px;
}


.works {
	font-size: 16px;
	font-weight: normal;
	padding: 0px;
	background-color: rgba(00,00,00,00);
	margin: 6px 0px 6px 0px;
}


.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: 0px 0px 0px 0px;
}

/* Unoccupied */
.0 {
color: #606060;
}

/* Occupied */
.01, .02, .03, .04, .05, .06, .07, .08, .09 {
  color: #dbdee9;
}


/* Focused */
.011, .022, .033, .044, .055, .066, .077, .088, .099{
  color: #a3be8c;
}


.works button:hover {
  color: #000000;
  background-color: #a3be8c;
}

.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 10px;
}

.metric scale trough highlight {
  all: unset;
  //background-color: #D35D6E;
  background-color: #a3be8c;
  color: #000000;
  border-radius: 4px;
}
.metric scale trough {
  all: unset;
  //background-color: #4e4e4e;
  background-color: #a3be8c;
  border-radius: 50px;
  min-height: 3px;
  min-width: 30px;
  margin-left: 8px;
  margin-right: 30px;
}
.metric scale trough highlight {
  all: unset;
  //background-color: #D35D6E;
	background-color: #a3be8c;
  color: #000000;
  border-radius: 4px;
}
.metric scale trough {
  all: unset;
  //background-color: #4e4e4e;
  background-color: #4e4e4e;
  border-radius: 3px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 2px;
  margin-right: 18px;
}
.label-ram {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 18px;
}

.label-Audio {
  font-size: 20px;
}

